@model ProyectFinalProg3.Models.CitasMedicas

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Cita Médica</h2>

<h3>Estas seguro que desea eliminarla?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medicos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientes.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientes.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Ir atrás", "Index")
</div>
    }
</div>
