@model IEnumerable<ProyectFinalProg3.Models.Pacientes>

@{
    ViewBag.Title = "Index";
}

<h2>Pacientes</h2>

<div>
    @using (Html.BeginForm("Index", "Pacientes", FormMethod.Post))
    {
    <div class="row">
        <h5>Filtros de búsqueda</h5>
        <select name="opcion" class="form-control col col-lg-2" , , required="required">
            <option value="">---Selecciona---</option>
            <option value="Nombre">Nombre</option>
            <option value="Cedula">Cedula</option>
            <option value="Asegurado">Asegurado</option>
        </select>
        @Html.TextBox("valor", "", new { @class = "form-control col-md-4", placeholder = "Busqueda", required = "required" })
        <div class="col-2">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>
    }
</div>
    <br />
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
    <br />
    <button onclick="pdf()" class="btn btn-danger">Crear pdf</button>
</p>
<table class="table table-striped" id="table">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Asegurado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asegurado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
