@model IEnumerable<ProyectFinalProg3.Models.Habitaciones>

@{
    ViewBag.Title = "Index";
}

<h2>Habitaciones</h2>
<div>
    @using (Html.BeginForm("Index", "Habitaciones", FormMethod.Post))
    {
        <h5>Filtro de búsqueda</h5>
        <select name="tipo" class="form-control col col-lg-2">
            <option value="">Tipo</option>
        </select>
        <select name="opcion" class="form-control col col-lg-2">
            <option value="">---Selecciona---</option>
            <option value="Doble">Doble</option>
            <option value="Privada">Privada</option>
            <option value="Suite">Suite</option>
        </select>

        <div class="col-2">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    }
</div>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
    <br />
    <button onclick="pdf()" class="btn btn-danger">Crear pdf</button>
</p>
<table class="table table-striped" id="table">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
