@model ProyectFinalProg3.Models.Ingresos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Habitaciones.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitaciones.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientes.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientes.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Ir Atrás", "Index")
</p>
