@model IEnumerable<ProyectFinalProg3.Models.Ingresos>

@{
    ViewBag.Title = "Index";
}

    <h2>Ingresos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Habitaciones.Tipo)
        </th>
        <th>
            @Html.DisplayName("Cedula del Paciente")
        </th>
        <th>
            @Html.DisplayName("Fecha de Inicio")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Habitaciones.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientes.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inicio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
