@model IEnumerable<ProyectFinalProg3.Models.Ingresos>

@{
    ViewBag.Title = "Index";
}

<h2>Ingresos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id de Paciente")
        </th>
        <th>
            @Html.DisplayName("Id de Habitacion")
        </th>
        <th>
            @Html.DisplayName("Fecha de Inicio")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Habitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inicio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
