@model IEnumerable<ProyectFinalProg3.Models.Ingresos>

@{
    ViewBag.Title = "Index";
}

<h2>Ingresos</h2>
<div>
    @using (Html.BeginForm("Index", "Ingresos", FormMethod.Post))
    {
    <div class="row">
        <h5>Filtro de búsqueda</h5>
        <select name="opcion" class="form-control col col-lg-2">
            <option value="">---Selecciona---</option>
            <option value="Fecha">Fecha</option>
            <option value="Habitacion">Habitacion</option>
        </select>

        @Html.TextBox("valor", "", new { @class = "form-control col-md-4", placeholder = "Busqueda", required = "required" })

        <div class="col-2">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>
    }
</div>
<br />
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
    <br />
    @Html.ActionLink("Imprimir en PDF", "Print")
</p>
<table class="table table-striped">
    <tr>
        <th scope="col">
            @Html.DisplayName("Número Habitación")
        </th>
        <th scope="col">
            @Html.DisplayName("Nombre Paciente")
        </th>
        <th scope="col">
            @Html.DisplayName("Fecha de Inicio")
        </th>
        <th scope="col"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Habitaciones.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Inicio)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

