@model ProyectFinalProg3.Models.Altas

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Alta</h2>

<h3>Esta seguro que desea borrarla?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingresos.Fecha_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingresos.Fecha_Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IumHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IumHabitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto_Final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto_Final)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
           @Html.ActionLink("Ir Atrás", "Index")
        </div>
    }
</div>
