@model IEnumerable<ProyectFinalProg3.Models.Medicos>

@{
    ViewBag.Title = "Index";
}

    <h2>Médicos</h2>
    <div>
        @using (Html.BeginForm("Index", "Medicos", FormMethod.Post))
        {
            <h5>Filtros de búsqueda</h5>
            <br />
            <div class="row">
                <select name="opcion" class="form-control col col-lg-2", required="required">
                    <option value="">Selecciones</option>
                    <option value="Nombre">Nombre</option>
                    <option value="Especialidad">Especialidad</option>
                </select>
                @Html.TextBox("valor", "", new { @class = "form-control col-md-4", placeholder = "Busqueda", required = "required" })
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        }
    </div>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exequatur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exequatur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
